* {
    margin: 0;
    padding: 0;
}
.contenedor{
    height: 40rem;
    margin: 0.3rem;
    .contenedor__header{
        img{
            height: 80px;
        }
    }
    display: grid;
    grid-template-areas: 'busqueda   '
                         'navegacion'
                         'galeria'
                         'pie';
    grid-template-rows: 5rem 5rem 70rem 10rem;
    

    .contenedor__header{
        grid-area: busqueda;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        flex-wrap: wrap;
        border: 1px solid;
    }
    .contenedor__nav{
        grid-area: navegacion;
        
        
        border: 1px solid;
    }
    
    .contenedor__section{
        grid-area: galeria;
        border: 1px solid;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        flex-wrap: wrap;
        .contenedor__section__article{
            height: 30%;
            width: 22%;
            
            border: 1px solid;
        }
        
    }

    .contenedor__footer{
        grid-area: pie;
        border: 1px solid;
        display: flex;
        flex-direction:row;
        justify-content: space-between;

    }
}


